<footer>
  <div class="footer">
    <div class="footer__subscribe"></div>
    <div class="footer__logo">
      {% if settings.site_footer_logo %}
        <img
          src="{{ settings.site_footer_logo | image_url: width: 141, height: 60  }}"
          width="141"
          height="60"
          alt="{{ settings.site_name }}"
          loading="eager"
        >
      {% else %}
        {{ settings.site_name }}
      {% endif %}
    </div>
    <div class="footer__content">
      <div class="footer__menus">
        {% if linklists.company %}
          {% assign company = linklists.company %}
          {% include 'linklist', list: company %}
        {% endif %}
        {% if linklists.assistance %}
          {% assign assistance = linklists.assistance %}
          {% include 'linklist', list: assistance %}
        {% endif %}
        {% if linklists.contact %}
          {% assign contact = linklists.contact %}
          {% include 'linklist', list: contact %}
        {% endif %}
      </div>

      <div class="footer__other">
        <div class="footer__localization">
          <form action="/localization/update" method="post">
            <label for="country">Country/Region:</label>
            <select name="country" id="country">
              {{ country_option_tags }}
            </select>
            {% comment %} <input type="submit" value="Update"> {% endcomment %}
          </form>
        </div>
        <div class="footer__social">
          {% if linklists.connect %}
            <div class="footer__social__title">Connect</div>
            <div class="footer__social__links">
              {% for link in linklists.connect.links %}
                <a href="{{ link.url }}" target="_blank">{{ link.title }}</a>
              {% endfor %}
            </div>
          {% endif %}
        </div>
      </div>
    </div>
    <div class="footer__copyright">
      <div class="footer__brand">
        &copy; {{ settings.site_name }}
        <span>{{ 'now' | date: '%Y' }}</span>
      </div>
      <div class="footer__creator">
        <a href="https://kwn.digital" target="_blank"><u>Site</u> by <em>KWN Digital</em></a>
      </div>
    </div>
  </div>
</footer>
